In [59]:
import pandas as pd

from apyori import apriori

## Market I

In [60]:
df_market = pd.read_csv('../data/mercado.csv', header=None)
df_market

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [61]:
transactions = []

for i in range(df_market.shape[0]):
    tr = []
    for j in range (df_market.shape[1]):
        if str(df_market.values[i, j]) != 'nan':
            tr.append(df_market.values[i, j])
    transactions.append(tr)

In [62]:
transactions

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja'],
 ['manteiga'],
 ['pao'],
 ['feijao'],
 ['arroz', 'feijao'],
 ['arroz']]

In [114]:
rules = apriori(transactions, min_support= 0.3, min_confidence= 0.8, min_lift= 2)
results = list(rules)
len(results)

3

In [115]:
A = []
B = []
support = []
confidence = []
lift = []

for res in results:
    s = res[1]
    result_rules = res[2]
    for res_rules in result_rules:
        a = list(res_rules[0])
        b = list(res_rules[1])
        c = res_rules[2]
        l = res_rules[3]
        
        A.append(a)
        B.append(b)
        support.append(s)
        confidence.append(c)
        lift.append(l)

In [116]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Support': support, 'Confidence': confidence, 'Lift': lift})
rules_df.sort_values(by='Lift', ascending=False)

                  A                B  Support  Confidence  Lift
2            [cafe]  [pao, manteiga]      0.3         1.0   2.5
0            [cafe]       [manteiga]      0.3         1.0   2.0
1            [cafe]            [pao]      0.3         1.0   2.0
3  [cafe, manteiga]            [pao]      0.3         1.0   2.0
4       [pao, cafe]       [manteiga]      0.3         1.0   2.0

## Market II

In [104]:
df_market2 = pd.read_csv('../data/mercado2.csv', header=None)
df_market2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
transc = []

for i in range(df_market2.shape[0]):
    tr = []
    for j in range(df_market2.shape[1]):
        if str(df_market2.values[i, j]) != 'nan':
            tr.append(df_market2.values[i, j])
    transc.append(tr)

Achar um suporte

Estabelecer uma meta:
* Produtos que são vendidos 4 vezes por dia

In [106]:
4 * 7

28

In [107]:
28 / 7501

0.0037328356219170776

In [117]:
rules_market = apriori(transc, min_support= 0.003, min_confidence= 0.2, min_lift= 3)
results1 = list(rules_market)
len(results1)

80

In [118]:
A1 = []
B1 = []
support1 = []
confidence1 = []
lift1 = []

for res1 in results1:
    s1 = res1[1]
    results_rules1 = res1[2]
    for res_rule1 in results_rules1:
        a1 = list(res_rule[0])
        b1 = list(res_rule[1])
        c1 = res_rule[2]
        l1 = res_rule[3]
        
        A1.append(a1)
        B1.append(b1)
        support1.append(s1)
        confidence1.append(c1)
        lift1.append(l1)

In [119]:
rules_market = pd.DataFrame({'A': A1, 'B': B1, 'Support': support1, 'Confidence': confidence1, 'Lift': lift1})
rules_market.sort_values(by='Confidence', ascending=False)

,A,B,Support,Confidence,Lift
0,"[mineral water, spaghetti, milk]",[tomatoes],0.004533,0.211864,3.097846
97,"[mineral water, spaghetti, milk]",[tomatoes],0.003733,0.211864,3.097846
95,"[mineral water, spaghetti, milk]",[tomatoes],0.003733,0.211864,3.097846
94,"[mineral water, spaghetti, milk]",[tomatoes],0.003733,0.211864,3.097846
93,"[mineral water, spaghetti, milk]",[tomatoes],0.003200,0.211864,3.097846
...,...,...,...,...,...
38,"[mineral water, spaghetti, milk]",[tomatoes],0.004133,0.211864,3.097846
37,"[mineral water, spaghetti, milk]",[tomatoes],0.003999,0.211864,3.097846
36,"[mineral water, spaghetti, milk]",[tomatoes],0.004799,0.211864,3.097846
35,"[mineral water, spaghetti, milk]",[tomatoes],0.004799,0.211864,3.097846
129,"[mineral water, spaghetti, milk]",[tomatoes],0.003333,0.211864,3.097846