# Cross Validation

* KFold

In [2]:
from sklearn.model_selection import cross_val_score, KFold

from sklearn.tree            import DecisionTreeClassifier
from sklearn.ensemble        import RandomForestClassifier
from sklearn.neighbors       import KNeighborsClassifier
from sklearn.linear_model    import LogisticRegression
from sklearn.svm             import SVC
from sklearn.neural_network  import MLPClassifier

import pickle
import numpy as np
import pandas as pd

In [4]:
with open('../data/credit.pkl', 'rb') as f:
    x_credit_train, y_credit_train, x_credit_test, y_credit_test = pickle.load(f)

In [5]:
x_credit = np.concatenate((x_credit_train, x_credit_test), axis=0)
y_credit = np.concatenate((y_credit_train, y_credit_test), axis=0)

armazenar as m√©dias

In [6]:
results_tree = []
results_random = []
results_knn = []
results_logis = []
results_svm = []
#results_neural = []

In [8]:
for i in range(30):
  kfold = KFold(n_splits=10, shuffle=True, random_state=i)
  
  decision = DecisionTreeClassifier(criterion='entropy', min_samples_leaf= 1, min_samples_split=5, splitter='best')
  scores = cross_val_score(decision, x_credit, y_credit, cv=kfold)
  results_tree.append(scores.mean())

  random = RandomForestClassifier(criterion= 'entropy', min_samples_leaf= 1, min_samples_split= 2, n_estimators= 150)
  scores = cross_val_score(random, x_credit, y_credit, cv=kfold)
  results_random.append(scores.mean())

  knn = KNeighborsClassifier(n_neighbors= 20, p= 1)
  scores = cross_val_score(knn, x_credit, y_credit, cv=kfold)
  results_knn.append(scores.mean())

  logis = LogisticRegression(C= 1.0, solver= 'lbfgs', tol= 0.0001)
  scores = cross_val_score(logis, x_credit, y_credit, cv=kfold)
  results_logis.append(scores.mean())
  
  svm = SVC(C= 1.5, kernel= 'rbf', tol= 0.0001)
  scores = cross_val_score(svm, x_credit, y_credit, cv=kfold)
  results_svm.append(scores.mean())

  #neural = MLPClassifier(activation= 'relu', batch_size= 56, solver= 'adam')
  #scores = cross_val_score(neural, x_credit, y_credit, cv=kfold)
  #results_neural.append(scores.mean())

In [9]:
results = pd.DataFrame({'Arvore': results_tree,
                       'Random Forest': results_random,
                       'kNN': results_knn,
                       'logistic': results_logis,
                       'SVM': results_svm})

In [10]:
results

    Arvore  Random Forest     kNN  logistic     SVM
0   0.9865         0.9870  0.9800    0.9475  0.9835
1   0.9835         0.9875  0.9800    0.9465  0.9835
2   0.9905         0.9885  0.9800    0.9470  0.9835
3   0.9880         0.9860  0.9800    0.9460  0.9845
4   0.9880         0.9885  0.9810    0.9465  0.9855
5   0.9890         0.9875  0.9785    0.9465  0.9830
6   0.9880         0.9895  0.9800    0.9470  0.9840
7   0.9875         0.9875  0.9805    0.9480  0.9845
8   0.9860         0.9890  0.9810    0.9465  0.9820
9   0.9870         0.9895  0.9810    0.9465  0.9830
10  0.9865         0.9855  0.9780    0.9475  0.9825
11  0.9900         0.9905  0.9805    0.9480  0.9825
12  0.9890         0.9855  0.9810    0.9475  0.9845
13  0.9865         0.9855  0.9800    0.9475  0.9840
14  0.9820         0.9850  0.9795    0.9485  0.9835
15  0.9860         0.9840  0.9795    0.9475  0.9845
16  0.9855         0.9865  0.9805    0.9460  0.9840
17  0.9905         0.9880  0.9830    0.9470  0.9845
18  0.9875         0.9885  0.9800    0.9465  0.9850
19  0.9870         0.9865  0.9805    0.9465  0.9840
20  0.9830         0.9845  0.9800    0.9465  0.9835
21  0.9870         0.9895  0.9810    0.9470  0.9850
22  0.9885         0.9865  0.9810    0.9455  0.9845
23  0.9870         0.9880  0.9800    0.9465  0.9870
24  0.9870         0.9885  0.9835    0.9470  0.9840
25  0.9880         0.9865  0.9815    0.9470  0.9820
26  0.9880         0.9855  0.9795    0.9475  0.9825
27  0.9860         0.9850  0.9795    0.9465  0.9850
28  0.9855         0.9850  0.9775    0.9480  0.9830
29  0.9880         0.9860  0.9780    0.9465  0.9860

In [11]:
results.describe()

          Arvore  Random Forest        kNN   logistic        SVM
count  30.000000      30.000000  30.000000  30.000000  30.000000
mean    0.987083       0.987033   0.980200   0.946950   0.983950
std     0.001961       0.001722   0.001270   0.000687   0.001155
min     0.982000       0.984000   0.977500   0.945500   0.982000
25%     0.986125       0.985500   0.979625   0.946500   0.983125
50%     0.987000       0.986750   0.980000   0.947000   0.984000
75%     0.988000       0.988500   0.981000   0.947500   0.984500
max     0.990500       0.990500   0.983500   0.948500   0.987000

In [12]:
results.var()

Arvore           3.846264e-06
Random Forest    2.964368e-06
kNN              1.613793e-06
logistic         4.715517e-07
SVM              1.333621e-06
dtype: float64

In [13]:
(results.std() / results.mean()) * 100

Arvore           0.198685
Random Forest    0.174435
kNN              0.129601
logistic         0.072517
SVM              0.117366
dtype: float64